*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(243, 243, 247);
  overflow-x: hidden;
  width: 90vw;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
}

body {
  font-family: Arial;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #007cc5;
}

header img {
  display: block;
  width: 30vw;
  margin: auto;
  padding: 2%;
}

.menu {
  display: flex;
  padding: 2% 0 2% 0;
  border-top: 2px solid #007cc5;
  border-bottom: 2px solid #007cc5;
  background-color: #b9d3ed;
}
@media screen and (max-width: 1040px) {
  .menu {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 0;
    text-align: right;
  }
}
.menu .item-menu {
  font-size: 20px;
  display: block;
  padding: 10px;
  margin: auto;
  color: #007cc5;
  font-weight: 600;
}
.menu .item-menu:hover {
  color: #55555d;
}

@media screen and (max-width: 1200px) {
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh auto;
  border: 4px solid white;
  border-radius: 10px;
  padding: 5%;
  width: 50vw;
}
.form--input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form--input-container input,
.form--input-container textarea {
  border-radius: 10px;
  padding: 5%;
  border: none;
}
.form--input-container textarea {
  height: 20vh;
}
.form h1 {
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 5vh;
}
.form h2 {
  text-align: center;
  margin-top: 5%;
}
.form .button-submit {
  margin-top: 10%;
  font-weight: 600;
}
.form .error {
  border: 2px solid red;
}
.form .ok {
  background-color: white;
  color: black;
  border: none;
}
.form .success {
  display: none;
  background-color: #12cc1a;
  border: #0fa015 1px solid;
  width: 50%;
  margin: auto;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}
.form .form-status {
  display: none;
}
.form .info {
  font-size: 0.8em;
  color: #ff6600;
  letter-spacing: 2px;
  padding-left: 5px;
}

.container {
  width: 60vw;
  background-color: #55555d;
  margin: 5vh auto;
  border-radius: 10px;
  border: 2px solid #007cc5;
  padding: 2% 5%;
}
.container h1 {
  font-size: 2rem;
  margin-bottom: 2%;
  color: #007cc5;
}
.container hr {
  margin-bottom: 2%;
}
.container table,
.container th,
.container td {
  border: 2px solid black;
  padding-left: 1%;
}
.container table {
  width: 100%;
  margin: 5% auto;
}
.container thead {
  text-align: center;
  height: 10vh;
}

.image-connexion {
  width: 50vw;
  margin: 5vh auto;
}

.choixRole {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-top: 30vh;
  padding: 5%;
}
.choixRole a {
  padding: 2%;
}

@media screen and (max-width: 750px) {
  .choixRole a {
    font-size: 1rem;
    padding: 2%;
  }
}
.nouveau-patient .form {
  border: none;
  margin-top: 0%;
}
.nouveau-patient .form--input-container {
  width: 20vw;
}

.recherche .form {
  border: none;
  margin-top: 0%;
}
.recherche .form--input-container {
  width: 20vw;
}
.recherche .form--input-container select {
  padding: 2%;
  border-radius: 10px;
}
.recherche .form--input-container input {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2% auto;
}

.rdv h2 {
  margin-bottom: 2%;
}
.rdv .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rdv .date input {
  padding: 2%;
  margin: 2%;
}
.rdv .date button {
  padding: 2%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  border: none;
}
.rdv .date button:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */