//*********************************************************background colors
$principal-back_color: rgb(243, 243, 247);
// $container-back_color: rgb(3, 3, 37);
$container-back_color: #55555d;
$nav-back-color: #b9d3ed;

$principal-text-color: white;
$secondary-text-color: #007cc5;
