.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 10vh auto;
  border: 4px solid $principal-text-color;
  border-radius: 10px;
  padding: 5%;
  width: 50vw;

  &--input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    input,
    textarea {
      border-radius: 10px;
      padding: 5%;
      border: none;
    }

    textarea {
      height: 20vh;
    }
  }

  h1 {
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 5vh;
  }

  h2 {
    text-align: center;
    margin-top: 5%;
  }

  .button-submit {
    margin-top: 10%;
    font-weight: 600;
  }

  .error {
    border: 2px solid red;
  }

  .ok {
    background-color: white;
    color: black;
    border: none;
  }

  .success {
    display: none;
    background-color: #12cc1a;
    border: #0fa015 1px solid;
    width: 50%;
    margin: auto;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
  }

  .form-status {
    display: none;
  }

  .info {
    font-size: 0.8em;
    color: #ff6600;
    letter-spacing: 2px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 768px) {
  .form {
    border: none;
    margin: auto;

    input {
      width: 50vw;
    }
  }
}