header img {
  display: block;
  width: 30vw;
  margin: auto;
  padding: 2%;
}
.menu {
  display: flex;
  padding: 2% 0 2% 0;
  border-top: 2px solid $secondary-text_color;
  border-bottom: 2px solid $secondary-text_color;
  background-color: $nav-back-color;
  @media screen and (max-width: 1040px) {
    display: flex;
    flex-direction: column;
    padding: 0 2% 0 0;
    text-align: right;
  }
  .item-menu {
    font-size: 20px;
    display: block;
    padding: 10px;
    margin: auto;
    color: $secondary-text_color;
    font-weight: 600;
    &:hover {
      color: $container-back_color;
    }
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
