*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $principal-back_color;
  overflow-x: hidden;
  width: 90vw;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
}
